requests
beautifulsoup4
yt-dlp
fake-useragent
aiohttp
pyrogram
tgcrypto
apscheduler
aiocache
markdown
loguru
tenacity
langchain-core
langchain-openai
opencv-python-headless
urlextract
skia-python
openai