requests
beautifulsoup4
yt-dlp
fake-useragent
aiohttp
pyrogram
tgcrypto
apscheduler
aiocache
markdown
loguru
tenacity
langchain-core
langchain-openai
openai
opencv-python-headless
Pillow
skia-python
instaloader
lxml
brotli
parsehub
loguru